doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Кузница Д.Гена
    link(rel='icon', type='image/x-icon', href='/assets/favicon.ico')
    script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    link(href='/css/styles.css', rel='stylesheet')
  body#page-top
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        a.navbar-brand(href='#page-top')
          img(src='/assets/img/navbar-logo.svg', alt='...')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars.ms-1
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
            li.nav-item
              a.nav-link(href='#services') Услуги
            li.nav-item
              a.nav-link(href='#portfolio') Портфолио
            li.nav-item
              a.nav-link(href='#about') О нас
            li.nav-item
              a.nav-link(href='#team') Команда
            li.nav-item
              a.nav-link(href='#contact') Контакты
    header.masthead
      .container
        .masthead-subheading Добро пожаловать в кузницу Д.Гена!
        .masthead-heading.text-uppercase Мы рады вас видеть
        a.btn.btn-primary.btn-xl.text-uppercase(href='#services') Узнать больше

    section#services.page-section
      .container
        .text-center
          h2.section-heading.text-uppercase Услуги
          h3.section-subheading.text-muted Лучшие кузнечные услуги.
        .row.text-center
          each s in services
            .col-md-4
              span.fa-stack.fa-4x
                i.fas.fa-circle.fa-stack-2x.text-primary
                i(class=`fas fa-${s.icon} fa-stack-1x fa-inverse`)
              h4.my-3= s.name
              p.text-muted= s.description

    section#portfolio.page-section.bg-light
      .container
        .text-center
          h2.section-heading.text-uppercase Портфолио
          h3.section-subheading.text-muted Наши работы.
        .row
          each p in portfolio
            .col-lg-4.col-sm-6.mb-4
              .portfolio-item
                a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal' + p.id)
                  .portfolio-hover
                    .portfolio-hover-content
                      i.fas.fa-plus.fa-3x
                  img.img-fluid(src='/' + p.image, alt=p.title)
                .portfolio-caption
                  .portfolio-caption-heading= p.title
                  .portfolio-caption-subheading.text-muted= p.category

    section#about.page-section
      .container
        .text-center
          h2.section-heading.text-uppercase О нас
          h3.section-subheading.text-muted Как мы начинали и развивались.
        ul.timeline
          each a, i in about
            if i % 2 === 0
              li
                .timeline-image
                  img.rounded-circle.img-fluid(src='/' + a.image, alt='')
                .timeline-panel
                  .timeline-heading
                    h4= a.year
                    h4.subheading= a.title
                  .timeline-body
                    p.text-muted= a.description
            else
              li.timeline-inverted
                .timeline-image
                  img.rounded-circle.img-fluid(src='/' + a.image, alt='')
                .timeline-panel
                  .timeline-heading
                    h4= a.year
                    h4.subheading= a.title
                  .timeline-body
                    p.text-muted= a.description
          li.timeline-inverted
            .timeline-image
              h4
                | Станьте
                br
                | частью нашей
                br
                | истории!

    section#team.page-section.bg-light
      .container
        .text-center
          h2.section-heading.text-uppercase Наша команда
          h3.section-subheading.text-muted Опытные мастера своего дела.
        .row
          each t in team
            .col-lg-4
              .team-member
                img.mx-auto.rounded-circle(src='/' + t.image, alt='')
                h4= t.name
                p.text-muted= t.role

    // Контакты
    section#contact.page-section
      .container
        .text-center
          h2.section-heading.text-uppercase Контакты
          h3.section-subheading.text-muted Свяжитесь с нами для заказа.

        form#contactForm(data-sb-form-api-token='API_TOKEN')
          .row.align-items-stretch.mb-5
            .col-md-6
              .form-group
                // Name input
                input#name.form-control(type='text', placeholder='Ваше имя *', data-sb-validations='required')
                .invalid-feedback(data-sb-feedback='name:required') Введите имя.
              .form-group
                // Email address input
                input#email.form-control(type='email', placeholder='Ваш Email *', data-sb-validations='required,email')
                .invalid-feedback(data-sb-feedback='email:required') Введите email.
                .invalid-feedback(data-sb-feedback='email:email') Неверный email.
              .form-group.mb-md-0
                // Phone number input
                input#phone.form-control(type='tel', placeholder='Ваш телефон *', data-sb-validations='required')
                .invalid-feedback(data-sb-feedback='phone:required') Введите телефон.
            .col-md-6
              .form-group.form-group-textarea.mb-md-0
                // Message input
                textarea#message.form-control(placeholder='Ваше сообщение *', data-sb-validations='required')
                .invalid-feedback(data-sb-feedback='message:required') Введите сообщение.
          #submitSuccessMessage.d-none
            .text-center.text-white.mb-3
              .fw-bolder Form submission successful!
              | To activate this form, sign up at
              br
              a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms
          #submitErrorMessage.d-none
            .text-center.text-danger.mb-3 Error sending message!
          .text-center
            button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Отправить

    footer.footer.py-4
      .container
        .row.align-items-center
          .col-lg-4.text-lg-start Copyright © Кузница Д.Гена 2023
          .col-lg-4.my-3.my-lg-0
            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
              i.fab.fa-twitter
            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
              i.fab.fa-facebook-f
            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
              i.fab.fa-linkedin-in
          .col-lg-4.text-lg-end
            a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
            a.link-dark.text-decoration-none(href='#!') Terms of Use

    // Portfolio Modals
    each p in portfolio
      #{'portfolioModal' + p.id}.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog
          .modal-content
            .close-modal(data-bs-dismiss='modal')
              img(src='/assets/img/close-icon.svg', alt='Close modal')
            .container
              .row.justify-content-center
                .col-lg-8
                  .modal-body
                    h2.text-uppercase= p.title
                    p.item-intro.text-muted= p.category
                    img.img-fluid.d-block.mx-auto(src='/' + p.image, alt=p.title)
                    button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                      i.fas.fa-xmark.me-1
                      | Закрыть

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
    script(src='/js/scripts.js')
    script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
